*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    background: url('https://img.freepik.com/free-vector/3d-style-black-background-with-paper-layer_206725-669.jpg?t=st=1740090160~exp=1740093760~hmac=0560211344d7c022d8e959f117e7d9cb3c42addc8189d58875ea7acdac3c5e05&w=826');
    /* background-position: center; */
    background-repeat: repeat-y;
    background-size:1400px;
    height: 3000px;
    /* background-position: center; */
}
#head{
    text-align: center;
    font-size: 85px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 65px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 30px;
    text-shadow: 5px 5px 15px rgb(12, 235, 205);
}
.box{
    margin: 10px;
    /* margin-bottom: 30px; */
    width: 750px;
    height: 200px;
    border-radius: 20px;
    background-color: rgb(49,179,239);
    color: rgb(255, 255, 255);
    /* background-image: linear-gradient(to top, rgb(93,226,255) ,rgb(36,153,242)); */
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210204/pngtree-abstract-background-of-information-technology-image_555014.jpg');
    /* background-image: url('https://img.lovepik.com/background/20211022/large/lovepik-internet-technology-background-image_401956320.jpg'); */
    
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;

    



}
a{
    text-decoration: none;
    
    
}

h1:hover{
    color: rgb(131, 250, 230);
}